<div class="flex-row">
  <div class="flex-1">
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="request-forms-title">Request Forms</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <!-- <form [formGroup]="addRequestForm">
          <mat-form-field formControlName="food" class="checkbox">
            <mat-checkbox>

            </mat-checkbox>
          </mat-form-field>
        </form> -->
      </mat-card-content>

    </mat-card>
  </div>
